/* CSS */
:root {
  --ayah-num-size: 40px;
  --spacing-small: 0.8125rem;
  --text-color: rgb(217,222,223);

}

body{
  background-color: rgba(33,36,41,1);
  font-family: system-ui,Helvetica, Arial, sans-serif;
  font-weight: bold;
}

footer {
  color: var(--text-color);
  font-size: small;
  text-align: center;
}

.header {
  margin: 30px 0;
  text-align: center;
}

h1, h2 {
  color: var(--text-color);
}

