/* CSS */
@media screen and (max-width: 1200px) {
.list {
  margin: 0 30px !important;
}
}

.list {
  margin: 40px 140px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  /* grid-template-columns: repeat(6,1fr); */
  grid-gap: var(--spacing-small);
  gap: var(--spacing-small);
}

a {
  text-decoration: none;
  color: var(--text-color);
}

.item {
  text-decoration: none;

}

.item_div {
 color: var(--text-color);
 border: 1px solid;
 border-color: rgba(70, 75, 80, 1) !important;
 border-radius: 10px;
 padding: 10px;
 display: flex;
 justify-content: space-between;

 font-size: 17px;

}
  .item_div:hover {
    border-color: rgba(81,164,171,1) !important;

  }
  .item_div:active {
    border-color: rgba(130, 191, 196,1) !important;
  }
  
.memorized {
  border-color: rgba(82, 169, 96, 1) !important;
}

.name, .number {
  color: var(--text-color) !important;
}