<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ahmed Kamhawy</title>
</head>
<body>
<h1>Ahmed Kamhawy Personal Projects</h1>
<a href="/memorization">
  <button>Quran Memorization App</button>
</a>
<br><br>
<a href="/scheduler">
  <button>Work Availability Schedule Output</button>
</a>
<br><br>
<a href="/sleep">
  <button>Apple Watch Sleep Data Upload</button>
</a>
<br><br>
<a href="/library">
  <button>Book Library for Database Testing</button>
</a>
<br><br>
<a href="/vibecheck">
  <button>VibeCheck - Prize-winning SMS-based EMR Prototype</button>
</a>

</body>
</html>