<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="static/test.css">
</head>
<body>
<!-- JINJA - ALL WITHIN DOUBLE CURLY GET EVALUATED AS PY CODE-->
<h1>{{2*2}}</h1>
<h1>{{msg}}</h1>
<!--MULTI LINE JINJA - MULTI LINE PY IN HTML HERE -&#45;&#45; MAINLY FOR LOOPS IFS-->
    {% for i in range(2): %}
        {% if 1 != 2: %}
            <h1> {{"first".capitalize()}}</h1>
            <h2> {{"second".capitalize()}}</h2>
        {% endif %}
    {% endfor %}

<div class="grid-container">
    <div class="grid-item grid-item-1">Grid Item 1</div>
    <div class="grid-item grid-item-2">Grid Item 2</div>
    <div class="grid-item grid-item-3">Grid Item 3</div>
</div>




</body>
</html>