<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- JINJA - ALL WITHIN DOUBLE CURLY GET EVALUATED AS PY CODE-->
<h1>{{2*2}}</h1>
<h1>{{msg}}</h1>
<!--MULTI LINE JINJA - MULTI LINE PY IN HTML HERE -&#45;&#45; MAINLY FOR LOOPS IFS-->
    {% for i in range(2): %}
        {% if 1 != 2: %}
            <h1> {{"first".capitalize()}}</h1>
            <h2> {{"second".capitalize()}}</h2>
        {% endif %}
    {% endfor %}

<a href="https://sentry.io/answers/">
  <button>Answers by Sentry</button>
</a>

</body>
</html>