<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Qur'an Memorization Tracker</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='global.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='memorization_home.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='font-awesome/css/fontawesome.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='font-awesome/css/brands.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='font-awesome/css/solid.css')}}">
    <script 
    src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
    crossorigin="anonymous">
    </script>
    
    <script type="text/javascript" src="{{url_for('static', filename='memorization.js')}}"></script>
</head>
<body>

    <div class="header">
        <h1>Qur'an Memorization Tracker</h1>
        <a href="/memorization/auth">Current User: {{session['username']}}</a>
    </div>
    <div class="list container">
        {% for i in range(1,30 + 1) %}

            <!-- <div class="juz {{i}}" style="background-color: #EBEBEB"> -->
                <!-- <p>Juz' {{i}}</p> -->


                    {% for user_first_ayah_of_surah in user_first_ayat_of_surahs %}
                    {% if user_first_ayah_of_surah.ayah.surah.juz_no == i %}

                                <a 
                                href="{{ url_for('memorization_surah', surah_no = user_first_ayah_of_surah.ayah.surah_no)}}"
                                class=" item" 
                                name="select_{{user_first_ayah_of_surah.ayah.surah_no}}">
                                    <div class="{{'memorized' if user_first_ayah_of_surah.surah_memorized == 1}} item_div"> 
                                        <div class="number">{{user_first_ayah_of_surah.ayah.surah_no}}</div>
                                        <div class="name">{{user_first_ayah_of_surah.ayah.surah_name_roman}}</div>
                                    </div>

                                </a>
                    {% endif %}

                    {% endfor %}

        {% endfor %}
    </div>
    <footer>
        <p>Developed by Ahmed Kamhawy</p>
    </footer>
</body>
</html>