<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Qur'an Memorization Tracker</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='global.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='memorization_surah.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='font-awesome/css/fontawesome.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='font-awesome/css/brands.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='font-awesome/css/solid.css')}}">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{url_for('static', filename='memorization.js')}}"></script>
</head>
<body>
    <div class="home_wrapper">
        <a href="{{url_for('memorization_home')}}">
            <div class="home">
            <i class="fa-solid fa-house"></i> <span>Home</span>
            </div>
        </a>
    </div>
    <!-- <div class="header">
        <h1>Qur'an Memorization Tracker</h1>
    </div> -->

    <div class="surah" id="surah">




    <form method="POST", id="toggle_ayat">
        <div class="surah_div">
            <div id="surah_name">
                <input class="{{'memorized' if user_ayat_selected[0].surah_memorized == 1}} surah"
                       type="submit"
                       name="toggle_surah_{{surah_selected.surah_no}}"
                       value="{{surah_selected.surah_name_roman}} - {{surah_selected.surah_no}}">
                <p>Last updated: {{datetime_last_updated}}</p>
                <a href="/memorization/auth">Current User: {{session['username']}}</a>

            </div>
            {% for j in range(0,surah_selected.total_ayah_surah) %}
            <div class="ayah" id="ayah_{{surah_selected.ayat[j].ayah_no_surah}}">
                <div class="ayah_num_div">
                    <input class="{{'memorized' if user_ayat_selected[j].ayah_memorized}} ayah_num"
                           type="submit"
                           name="toggle_ayah_{{surah_selected.ayat[j].ayah_no_surah}}"
                           value="{{j+1}}">
                </div>
                <div class="ayah_text_div">
                    <p class="ayah_text">{{surah_selected.ayat[j].ayah_ar}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </form>
    </div>
</body>
</html>