<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>QMTracker</title>
    <link rel="stylesheet" href="static/memorization.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="static/memorization.js"></script>
</head>
<body>
{% if app_on == False: %}
    <form method="POST">
        <input class="button-3" type="submit" name="app_on" value="Turn on app">
    </form>
{% else: %}
    <div class="memorized_header">
        <h1>Qur'an Memorization Tracker</h1>

    </div>
    <div style="padding: 15px;">
        <i class="fa fa-bars" id="menu_toggle" aria-hidden="true"></i>
    </div>
    <div class="misc">
    <form method="POST", id="misc">
<!--        <input type="submit" name="show_memorized" value="Show Memorized">-->
<!--        <p>Memorized Surahs: <br>{{memorized_surahs}}</p>-->
<!--        <h2>Surah List</h2>-->
        <div class="surah_list hidden">

            {% for i in range(1,31) %}
                <div class="juz" style="background-color: #EBEBEB">
                    <p>Juz' {{i}}</p>
                {% for idx, surah in surah_list[surah_list["juz_no"] == i].iterrows() %}
                    <input class="{{'memorized' if backend.view_surah_memorized(surah['surah_no']) else 'unmemorized'}} surah_list_surah" type="submit" name="select_{{surah['surah_no']}}" value="{{surah['surah_name_roman']}} - {{surah['surah_no']}}">
                {% endfor %}
                </div>
            {% endfor %}

        </div>

    </form>
    </div>
    <div class="all_surah" id="all_surah">
    <form method="POST", id="toggle_ayat">
        {% for i in range(surah_shown_index,surah_shown_index + 1) %}
        <div class="surah_div">
            <div class="surah_name">
                <input class="{{'memorized' if backend.view_surah_memorized(i) else 'unmemorized'}} surah" type="submit" name="toggle_surah_{{i}}" value="{{backend.view_ayah(i,[1])['surah_name_roman'].item()}} - {{i}}">
            </div>
            {% for j in range(1,backend.return_length_of_surah(i)+1) %}
            <div class="ayah">
                <div class="ayah_num_div">
                    <input class= "{{'memorized' if backend.view_ayah_memorized(i,[j]) else 'unmemorized'}} ayah_num"type="submit" name="toggle_ayah_{{i}}_{{j}}" value="{{j}}">

                </div>
                <div class="ayah_text_div">
                    <p class="ayah_text">{{backend.view_ayah(i,[j])["ayah_ar"].item()}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </form>
    </div>
{% endif %}

</body>
</html>