<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/css/bootstrap-datepicker.min.css" integrity="sha512-34s5cpvaNG3BknEWSuOncX28vz97bRI59UnVtEEpFX536A7BtZSJHsDyFoCl8S7Dt2TPzcrCEoHBGeM4SUBDBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{url_for('static', filename='global.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='scheduler.css')}}">

    <title>Southlake Availability Scheduler</title>
</head>
<body>
<!-- JINJA - ALL WITHIN DOUBLE CURLY GET EVALUATED AS PY CODE-->
<!--MULTI LINE JINJA - MULTI LINE PY IN HTML HERE -&#45;&#45; MAINLY FOR LOOPS IFS-->
<h1 style="margin-bottom: 0;">Availability Schedule Formatter</h1>
<br>
<div style="padding-bottom:40px;">
    <p style="margin: none;">Select Month:</p>
<button class="month">January</button>
<button class="month">February</button>
<button class="month">March</button>
<button class="month">April</button>
<button class="month">May</button>
<button class="month">June</button>
<button class="month">July</button>
<button class="month">August</button>
<button class="month">September</button>
<button class="month">October</button>
<button class="month">November</button>
<button class="month">December</button>
</div>


<div style="">
    <div style="display:flex; justify-content: center;">
        <div style="display:block; width:25%;">
            <p>FACT Shifts:</p>
            <div style=""id="div"></div>
        </div>
        <div style="display: flex; justify-content: end; margin-left: 25%; width:25%;"id="datepickerFACT"></div>
    </div>
    <div style="display:flex; justify-content: center;">
        <div style="display:block; width:25%;">
            <p>LAP Shifts:</p>
            <div id="div2"></div>
        </div>
        <div style="display: flex; justify-content: end; margin-left: 25%; width:25%;"id="datepickerLAP"></div>
    </div>
</div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename='scheduler.js')}}"></script>

</body>
</html>